.chill {
  padding: 20px;
  width: 200px;
}

.chill__img > img {
  height: 200px;
  max-width: 100%;
  border-radius: 6%;
  transition: transform 0.5s ease;
  padding-bottom: 10px;
}

.chill__img > img:hover {
  transform: scale(1.05);
}
